@*@{
        ViewBag.Title = "Error";
    }*@
<h2>@ViewBag.Title</h2>

<div class="container-fluid">

    <h3>Su usuario no posee autorizacion para realizar esta accion o acceder a esta sección de la plataforma</h3>
    <br />
    <h4>Comuníquese con su administrador para solucionar este problema en caso de ser un error  o ponerse en contacto con su ejecutivo GYCSol</h4>
</div>


