<head>
    <link href="~/Content/css/stylesVacaciones.css" rel="stylesheet" />
</head>
<div class="div-style">
    <div class="row">
        <div class="col-lg-3">

            <span id="basic-addon1">Inicio</span>
            <div class="input-group mb-3">
                <input type="date"  class="form-control input-borde" placeholder="DD/MM/AAAA" aria-label="DD/MM/AAAA" aria-describedby="basic-addon1" name="finicio" value="@ViewBag.FechaInicio">

            </div>
        </div>
        <div class="col-lg-3">


            <span id="basic-addon1">Término</span>
            <div class="input-group mb-3">
                <input type="date"  class="form-control input-borde" placeholder="DD/MM/AAAA" aria-label="DD/MM/AAAA" aria-describedby="basic-addon1" name="ftermino" value="@ViewBag.FechaTermino">

            </div>
        </div>
    </div>
</div>